<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-md-flex">
      <span class="d-flex align-items-center ms-auto me-3">
        <strong>{{ username }}</strong> - {{ nama }}
      </span>
    </c-header-nav>

    <c-header-nav class="d-none d-md-flex ms-auto">
      <c-dropdown alignment="end" variant="nav-item">
        <button cDropdownToggle [caret]="false" class="py-0" aria-label="Show notifications">
          <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
          <c-badge *ngIf="notifications.length > 0" color="danger" shape="rounded-pill" class="position-absolute top-0 end-0">
            {{ notifications.length }}
          </c-badge>
        </button>
        <ul cDropdownMenu class="pt-0 w-auto">
          <li *ngFor="let notification of notifications">
            <a cDropdownItem>{{ notification }}</a>
          </li>
          <li *ngIf="notifications.length === 0">
            <a cDropdownItem>No new notifications</a>
          </li>
        </ul>
      </c-dropdown>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilEnvelopeOpen" size="lg"></svg>
      </a>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <!-- <ng-container *ngTemplateOutlet="themeDropdown"></ng-container> -->

      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>

  <!-- <c-container [fluid]="true" class="px-4">
    <c-breadcrumb-router></c-breadcrumb-router>
  </c-container> -->

</ng-container>

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        src="./assets/images/avatars/8.jpg"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <a cDropdownItem routerLink="/apps/email/inbox">
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success">42</c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilTask"></svg>
          Tasks
          <c-badge class="ms-2 float-end" color="danger">42</c-badge>
        </a>
      </li>
      <li>
        <a cDropdownItem (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      <!-- <button
        *ngFor="let mode of colorModes; trackBy: trackByFn"
        (click)="colorMode.set(mode.name)"
        [active]="colorMode() === mode.name"
        cDropdownItem
        class="d-flex align-items-center"
      > -->
        <!-- <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button> -->
    </div>
  </c-dropdown>
</ng-template>
