<c-container>
  <c-card>
    <c-card-header>
      <h3>Form Approval HR Services</h3>
    </c-card-header>

    <c-card-body>
      <div *ngIf="approvalHRServicesData">
        <c-card>
          <c-card-header>
            <h5>Data Karyawan Resign</h5>
          </c-card-header>
          <c-card-body>
            <c-container>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Nama</th>
                    <td>{{ userDetailResign?.nama }}</td>
                  </tr>
                  <tr>
                    <th>NIP</th>
                    <td>{{ userDetailResign?.user_username }}</td>
                  </tr>
                  <tr>
                    <th>Cabang</th>
                    <td>{{ userDetailResign?.cabang }}</td>
                  </tr>
                  <tr>
                    <th>Divisi</th>
                    <td>{{ userDetailResign?.divisi }}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{ userDetailResign?.email }}</td>
                  </tr>
                  <tr>
                    <th>Email Aktif</th>
                    <td>{{ userDetailResign?.emailAktif }}</td>
                  </tr>
                  <tr>
                    <th>External User</th>
                    <td>{{ userDetailResign?.externalUser }}</td>
                  </tr>
                  <tr>
                    <th>Jabatan</th>
                    <td>{{ userDetailResign?.jabatan }}</td>
                  </tr>
                  <tr>
                    <th>Nomor WA</th>
                    <td>{{ userDetailResign?.nomerWA }}</td>
                  </tr>
                  <tr>
                    <th>Email Atasan</th>
                    <td>{{ resignationData?.emailAtasan }}</td>
                  </tr>
                  <tr>
                    <th>Tanggal Berakhir Bekerja</th>
                    <td>{{ resignationData?.tanggalBerakhirBekerja }}</td>
                  </tr>
                  <tr>
                    <th>Tanggal Pembuatan Akun HRIS</th>
                    <td>{{ resignationData?.tanggalPembuatanAkunHRIS }}</td>
                  </tr>
                  <tr>
                    <th>Document Pendukung</th>
                    <td>
                      <div *ngIf="approvalHRServicesData?.documentPath; else noDocumentHRService">
                        <button type="button" (click)="downloadHRServiceById()">Download HR Service Document</button>
                      </div>
                      <ng-template #noDocumentHRService>
                        <p>Dokumen tidak ada</p>
                      </ng-template>
                      
                    </td>
                  </tr>

                </tbody>
              </table>
            </c-container>
          </c-card-body>
        </c-card>
      </div>

      <c-card>
        <c-card-header>
          <h4>Hal-hal yang harus dilakukan</h4>
        </c-card-header>
        <c-card-body>
          <div class="container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <table class="table table-bordered">
                <tbody>
                  <!-- Excess Of Claim -->
                  <tr>
                    <th>Excess Of Claim / Hutang kelebihan biaya berobat</th>
                    <td>
                      <c-button-group role="group" aria-label="Excess Of Claim">
                        <input class="btn-check" formControlName="excessOfClaim" type="radio" value="belum dilakukan" id="excessOfClaim1" />
                        <label class="btn btn-outline-danger" for="excessOfClaim1">Belum Dilakukan</label>

                        <input class="btn-check" formControlName="excessOfClaim" type="radio" value="selesai" id="excessOfClaim2" />
                        <label class="btn btn-outline-success" for="excessOfClaim2">Selesai</label>

                        <input class="btn-check" formControlName="excessOfClaim" type="radio" value="tidak ada" id="excessOfClaim3" />
                        <label class="btn btn-outline-secondary" for="excessOfClaim3">Tidak Ada</label>
                      </c-button-group>
                    </td>
                  </tr>

                  <!-- Penyelesaian Biaya HR -->
                  <tr>
                    <th>Penyelesaian Biaya HR</th>
                    <td>
                      <c-button-group role="group" aria-label="Penyelesaian Biaya HR">
                        <input class="btn-check" formControlName="penyelesaianBiayaHR" type="radio" value="belum dilakukan" id="penyelesaianBiayaHR1" />
                        <label class="btn btn-outline-danger" for="penyelesaianBiayaHR1">Belum Dilakukan</label>

                        <input class="btn-check" formControlName="penyelesaianBiayaHR" type="radio" value="selesai" id="penyelesaianBiayaHR2" />
                        <label class="btn btn-outline-success" for="penyelesaianBiayaHR2">Selesai</label>

                        <input class="btn-check" formControlName="penyelesaianBiayaHR" type="radio" value="tidak ada" id="penyelesaianBiayaHR3" />
                        <label class="btn btn-outline-secondary" for="penyelesaianBiayaHR3">Tidak Ada</label>
                      </c-button-group>
                    </td>
                  </tr>

                  <!-- Penonaktifan Kartu Elektronik -->
                  <tr>
                    <th>Penonaktifan Kartu Elektronik Asuransi Kesehatan</th>
                    <td>
                      <c-button-group role="group" aria-label="Penonaktifan Kartu Elektronik">
                        <input class="btn-check" formControlName="penonaktifanKartuElektronik" type="radio" value="belum dilakukan" id="penonaktifanKartuElektronik1" />
                        <label class="btn btn-outline-danger" for="penonaktifanKartuElektronik1">Belum Dilakukan</label>

                        <input class="btn-check" formControlName="penonaktifanKartuElektronik" type="radio" value="selesai" id="penonaktifanKartuElektronik2" />
                        <label class="btn btn-outline-success" for="penonaktifanKartuElektronik2">Selesai</label>

                        <input class="btn-check" formControlName="penonaktifanKartuElektronik" type="radio" value="tidak ada" id="penonaktifanKartuElektronik3" />
                        <label class="btn btn-outline-secondary" for="penonaktifanKartuElektronik3">Tidak Ada</label>
                      </c-button-group>
                    </td>
                  </tr>

                  <!-- Approval HR Services Admin Status -->
                  <tr>
                    <th>Approval HR Services Admin Status</th>
                    <td>
                      <select class="form-control" formControlName="approvalHRServicesAdminStatus">
                        <option value="">Pilih Status</option>
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                        <option value="pending">Pending</option>
                      </select>
                    </td>
                  </tr>

                  <!-- Remarks -->
                  <tr>
                    <th>Remarks</th>
                    <td>
                      <textarea class="form-control" formControlName="remarks"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </c-card-body>
      </c-card>
    </c-card-body>
  </c-card>
</c-container>



<div *ngIf="isLoading$ | async" class="loading-spinner">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>

<!-- Your component content -->
<router-outlet></router-outlet>